.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;

    font-style: normal;
    font-variation-settings:
      "wdth" 100;
      

       }
        .banner{
          display: flex;
          justify-content: space-between;
          padding-top: 0px;
          }

          .banner-content{
            padding-top: 150px;
            
          }
       
       
      .title{

        color: #0E0E0E;
        size: 24px;
        margin-left: 100px;
        
        
      }
      

     .text-description{
      font-weight: bold;
      font-size: 50px;
      
       margin-left: 100px;
      
      }
      .btn-primary{
        margin-left: 100px;
        background-color: #006A50;
        color: white;
        border: none;
        border-radius: 5px;
        width: 270px;
        height: 56px;
      }
      .profile{
        margin-right: 100px;
        width: 400px;
        height: 350px;
        padding-top: 150px;
        
      }
        
      .bg-color{
        background-color: #C6E4D6;
        width: 1232px;
        height: 560px;
        margin-top: 30px;
        margin-left: 80px;
        margin-right: 80px;
        padding-top: 30px;
        padding-bottom: 40px;
        border-radius: 15px;
        

      }
      .about{
        padding-top: 100px;
      }

      .section-title{
        margin-left: 100px;
        font-size: 35px;
        font-weight: bold;
      }
      .section-description{
        margin-left: 100px;
      }
      .technology-container{
        display: flex;
        justify-content: space-between;
         margin-left: 100px;
         padding-top: 40px;
      }
      .tcngy  {
        background-color: #97a5b9;
        padding-top:25px ;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 25px;
        border-radius: 8px;

      }
      .tc-btn{
        color: white;
        background-color: #275098;
        border: none;
        border-radius: 3px;
        height: 30px;
        width: 100px;
        
      }
      .tcngy-2{
        background-color: #C6E4D6;
        padding-top:25px;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 25px;
        border-radius: 8px;
      }
      .tc-btn-2{
        color: white;
        background-color: #09A15C;
        border: none;
        border-radius: 3px;
        height: 30px;
        width: 100px;

      }
      .tcngy-3{
        background-color: #F7EBCF;
        padding-top:25px;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 25px;
        border-radius: 8px;
      }
      .tc-btn-3{
        color: white;
        background-color: #FFC239;
        border: none;
        border-radius: 3px;
        height: 30px;
        width: 100px;

      }

      .end-title{
        font-size: 35px;
        font-weight: bold;
        margin-left: 100px;
        padding-top: 30px;
      }
      .end-description{ 
        margin-left: 100px;
        padding-top:10px ;

      }

      .end-bnner{
        display: flex;
        justify-content: space-between;
       
        
      }
      
      .mtitle{
        font-size: 30px;
      }
        
      .imagee{
    
        width: 410px;
        height: 300px;
        margin-left: 150px;
        padding-top: 50px;
       
       
      }

      .titlee{
        margin-right: 100px;
      }
      .bnnr{
        padding-top: 50px;
      }

      .btn{
        width: 100px;
        height: 40px;
        color: white;
        background-color: #006A50;
        border: none;
        border-radius: 10px;
       
      }

      .bnr{ 
        display: flex;
        justify-content: space-between;
        padding-top: 60px;
      }

      .ttit{
        font-size: 30px;
        font-weight: bold;
        margin-left: 100px;
      }
      .iim{
        margin-left: 100px;
      }
      .sub-tt{
        margin-left: 100px;
      }

      .descri{
        margin-left: 100px;
      }
      .bbtn{
        margin-left: 100px;
        width: 100px;
        height: 40px;
        color: white;
        background-color: #006A50;
        border: none;
        border-radius: 10px;
      }
      .iimg{
        width: 410px;
        height: 300px;
        margin-right: 100px;
        padding-top: 50px;
      }
      .ft-title{
        text-align: center;
        font-size: 30px;
      }
      .ft-des{
        text-align: center;
      }
 
  /*     ==section    ==== */
      .projects {
        width: 1200px;
        padding-left: 10;
        padding-right: 5;
        background: #fff;
        margin-left: 100px;
      }
      
      .projects h2 {
        font-size: 10px;
        text-align: center;
        margin-bottom: 30px;
      }
      
      .project-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
      }
      
      #takk{
        background-color:#C6E4D6;
      }
      
      
      .project-card {
        border-radius: 5px;
        font-size: 30px;
        width: 250px;
        height: 130px;
        padding: 15px;
        color: #282222;
        background: white;
        border: 1px solid #ddd;
        border-radius: 8px;
        text-align: center;
        box-shadow: 0 0 10px rgba(116, 2, 2, 0.144);
      }


      .button{
        width: 1000px;
        height: 62px;
        text-align: center;
       padding-left: 00px;
       margin-left: 200px;
       margin-right: 50px;
       background-color: #e6ebf2;
       border: none;
       border-radius: 20pxs;
       
   }
   .btn-main{
    width: 155px;
    height: 60px;
    margin-left: 620px;
    font-size: 20px;
    margin-top: 20px;
    color: white;
    background-color: #006A50;
    border: none;
    border-radius: 10px;


    
   }